//Variables
$blue: #4100e6;
$pinkpurple: #FFB0F8;
$turquoise: #2dfff5;
$red: #FF1235;
$peach: #ffd9d9;
$yellow: #fbff08;
$lightTurq:  #b7fdf6;
$lightYell:  #f8ff94;
$lightRed: #f74e68;
$lightBlue:  #8d65f1;
$white: rgb(254, 239, 255);

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
