@import '_variables.scss';

.grid5 {
    .container {
        background: $peach;    } 
    #slider {
        width: 1220px;
        height: 500px;
        overflow: hidden;
        margin-left: calc((98vw - 1220px) / 2.5);
    }
    #items {
        width: 10000px;
        position: relative;
        top: 0;
        left: 0px;
        transition: all .3s ease-out;
      }
    #items.shifting {
        transition: left .2s ease-out;
    }
    h4 {
        font-family: 'maklight';
        text-align: center;
        font-weight: 600;
        font-size: 50px;
        margin-bottom: 40px;
    }
    .slide {
        transition: all 1s;
        position: relative;
        background: white;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        height: 470px;
        border: 1px solid black;
        text-align: center;
        margin-left: 50px;

    }
    .splitText {
        display: flex;
        justify-content: center;
        font-family: poppins, sans-serif;
        text-transform: uppercase;
        margin-top: 20px;
        h1 {
            font-size: 40px;
            margin-right: 10px;
            font-weight: 800;
        }
        h2 {
            font-size: 40px;
        }
    }
    .text {
        font-family: poppins, sans-serif;
        margin-top: -5px;
        padding: 30px;
    }
    .image {
        .blur {
            width: 150px; height: 100px; filter: blur(20px); 
            border-radius: 50%; opacity: 0.65; margin-left: 50px; z-index: 1;
            margin-top: 15px; position: relative;
        }
        img {
            border-radius: 50%; width: 150px; height: 150px;
            margin: 0 auto; z-index: 20; margin-top: -90px; position: relative;
        }
    }
}
.btnHold {
    width: 101vw;
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    z-index: 900;
    margin-top: -300px;
    #prev {
        z-index: 9000000; user-select: none;
        border: none; outline: none;
        background: transparent; font-size: 60px;
        font-family: poppins, sans-serif;
        width: 100px; height: 100px;
    }
    #next {
        z-index: 9000000; user-select: none;
        border: none; outline: none;
        background: transparent; font-size: 60px;
        font-family: poppins, sans-serif;
        width: 100px; height: 100px;
    }
}
.blue {
    background: $blue;
}
.turquoise {
    background: $turquoise;
}
.yellow {
    background: $yellow;
}
.red {
    background: $red;
}
.pink {
    background: $pinkpurple;
}

