@import '_variables.scss';
@font-face {
    font-family: 'maklight';
    src: url('mak-webfont.woff2') format('woff2'),
         url('mak-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'makbold';
    src: url('mak-bold-webfont.woff2') format('woff2'),
         url('mak-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.grid1 {
    background: $peach;
    display: flex;
    justify-content: center;
    align-items: center;
    .font {
        font-size: 275px;
        font-family: 'bodoni moda', sans-serif;
        color: $red;
        font-weight: 900;
        margin-top: -75px;
        text-transform: uppercase;
    }
    .imgHolder {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin-top:-50px;
        height: 500px;
        overflow: hidden;
        filter: grayscale(100%);
        img {
            width: 400px;
            height: 500px;
            position: absolute;
        }
        img:nth-child(6) {
            display: none;
        }
        img:nth-child(5) {
            display: none;
        }
        img:nth-child(4) {
            display: none;
        }
        img:nth-child(3) {
            display: none;
        }
        img:nth-child(2) {
            display: none;
        }
        img:nth-child(1) {
            display: none;
        }
    }
    .circleText {
        color: $yellow;
        width: 200px;
        height: 200px;
        position: absolute;
        margin-left: 70vw;
        margin-top: 525px;
        font-family: maklight;
        font-size: 30px;
        z-index: 10000;
        animation: rotate 6s infinite linear;
        animation-play-state: running;
    }
    .circleText:hover {
        animation-play-state: paused;
    }
    .blurCircle {
        width: 120px;
        height: 120px;
        position: absolute;
        margin-left: 75vw;
        margin-top: 575px;
        background: $yellow;
        border-radius: 50%;
        z-index: 1;
        filter: blur(35px);
    }
    .gsapEl {
        width: 103vw;
        background: $red;
        position: absolute;
        height: 100vh;
        display: none;
        transform-origin: bottom;
        z-index: 900000;
        margin-left: -1vw;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}