@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
.grid5 .container {
  background: #ffd9d9; }

.grid5 #slider {
  width: 1220px;
  height: 500px;
  overflow: hidden;
  margin-left: calc((98vw - 1220px) / 2.5); }

.grid5 #items {
  width: 10000px;
  position: relative;
  top: 0;
  left: 0px;
  transition: all .3s ease-out; }

.grid5 #items.shifting {
  transition: left .2s ease-out; }

.grid5 h4 {
  font-family: 'maklight';
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 40px; }

.grid5 .slide {
  transition: all 1s;
  position: relative;
  background: white;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 470px;
  border: 1px solid black;
  text-align: center;
  margin-left: 50px; }

.grid5 .splitText {
  display: flex;
  justify-content: center;
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  margin-top: 20px; }
  .grid5 .splitText h1 {
    font-size: 40px;
    margin-right: 10px;
    font-weight: 800; }
  .grid5 .splitText h2 {
    font-size: 40px; }

.grid5 .text {
  font-family: poppins, sans-serif;
  margin-top: -5px;
  padding: 30px; }

.grid5 .image .blur {
  width: 150px;
  height: 100px;
  filter: blur(20px);
  border-radius: 50%;
  opacity: 0.65;
  margin-left: 50px;
  z-index: 1;
  margin-top: 15px;
  position: relative; }

.grid5 .image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  z-index: 20;
  margin-top: -90px;
  position: relative; }

.btnHold {
  width: 101vw;
  margin-left: -20px;
  display: flex;
  justify-content: space-between;
  z-index: 900;
  margin-top: -300px; }
  .btnHold #prev {
    z-index: 9000000;
    user-select: none;
    border: none;
    outline: none;
    background: transparent;
    font-size: 60px;
    font-family: poppins, sans-serif;
    width: 100px;
    height: 100px; }
  .btnHold #next {
    z-index: 9000000;
    user-select: none;
    border: none;
    outline: none;
    background: transparent;
    font-size: 60px;
    font-family: poppins, sans-serif;
    width: 100px;
    height: 100px; }

.blue {
  background: #4100e6; }

.turquoise {
  background: #2dfff5; }

.yellow {
  background: #fbff08; }

.red {
  background: #FF1235; }

.pink {
  background: #FFB0F8; }
