@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@font-face {
  font-family: 'maklight';
  src: url("mak-webfont.woff2") format("woff2"), url("mak-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'makbold';
  src: url("mak-bold-webfont.woff2") format("woff2"), url("mak-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.grid1 {
  background: #ffd9d9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .grid1 .font {
    font-size: 275px;
    font-family: 'bodoni moda', sans-serif;
    color: #FF1235;
    font-weight: 900;
    margin-top: -75px;
    text-transform: uppercase; }
  .grid1 .imgHolder {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    height: 500px;
    overflow: hidden;
    filter: grayscale(100%); }
    .grid1 .imgHolder img {
      width: 400px;
      height: 500px;
      position: absolute; }
    .grid1 .imgHolder img:nth-child(6) {
      display: none; }
    .grid1 .imgHolder img:nth-child(5) {
      display: none; }
    .grid1 .imgHolder img:nth-child(4) {
      display: none; }
    .grid1 .imgHolder img:nth-child(3) {
      display: none; }
    .grid1 .imgHolder img:nth-child(2) {
      display: none; }
    .grid1 .imgHolder img:nth-child(1) {
      display: none; }
  .grid1 .circleText {
    color: #fbff08;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 70vw;
    margin-top: 525px;
    font-family: maklight;
    font-size: 30px;
    z-index: 10000;
    animation: rotate 6s infinite linear;
    animation-play-state: running; }
  .grid1 .circleText:hover {
    animation-play-state: paused; }
  .grid1 .blurCircle {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: 75vw;
    margin-top: 575px;
    background: #fbff08;
    border-radius: 50%;
    z-index: 1;
    filter: blur(35px); }
  .grid1 .gsapEl {
    width: 103vw;
    background: #FF1235;
    position: absolute;
    height: 100vh;
    display: none;
    transform-origin: bottom;
    z-index: 900000;
    margin-left: -1vw; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
